@model IEnumerable<BugTracker.Models.Company>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<div class="m-2 d-flex justify-content-end">
    <a asp-action="Create" class="btn btn-primary">Add Company</a>
</div>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">List of Companies</h5>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th scope="col">
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Companies" asp-action="Details" asp-route-id="@item.Id"><i class="bx bx-info-circle"></i></a>
                            <a class="btn btn-warning" asp-controller="Companies" asp-action="Edit" asp-route-id="@item.Id"><i class="bx bxs-edit-alt"></i></a>
                            <a class="btn btn-danger" asp-controller="Companies" asp-action="Delete" asp-route-id="@item.Id"><i class="bx bxs-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>