@using BugTracker.Models.Enums
@model BugTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<div class="row mb-2 mb-xl-3">
    <div class="col-auto d-none d-sm-block">
        <h1 class="h3 mb-3">Projects</h1>    
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Project Details</h5>
            </div>
            <div class="card-body m-sm-3">
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class= "col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.StartDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.StartDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.EndDate)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.EndDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Company)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Company.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.ProjectPriorityId)
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.ProjectPriority.Name.Equals(BTProjectPriority.Low.ToString()))
                        {
                            <span class="badge bg-secondary">
                                @Html.DisplayFor(model => model.ProjectPriority.Name)
                            </span>
                        }
                        else if (Model.ProjectPriority.Name.Equals(BTProjectPriority.Medium.ToString()))
                        {
                            <span class="badge bg-info">
                                @Html.DisplayFor(model => model.ProjectPriority.Name)
                            </span>
                        }
                        else if (Model.ProjectPriority.Name.Equals(BTProjectPriority.High.ToString()))
                        {
                            <span class="badge bg-warning">
                                @Html.DisplayFor(model => model.ProjectPriority.Name)
                            </span>
                        }
                        else if (Model.ProjectPriority.Name.Equals(BTProjectPriority.Urgent.ToString()))
                        {
                            <span class="badge bg-danger">
                                @Html.DisplayFor(model => model.ProjectPriority.Name)
                            </span>
                        }
                    </dd>
                </dl>
                <div class="mb-3">
                    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" type="button">Edit</a>
                    <a asp-action="Index" class="btn btn-light bg-white" type="button">Return to List</a>
                </div>
            </div>
        </div>
    </div>
</div>